<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a distribution"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !distribution" message="Distribution Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="distribution && privilege.showOne">
  <app-page-header
    title="Distribution Detail Page of {{ distribution.code }}"
    [breadcrumbSegments]="['Distributions', 'Show All Distributions', 'Details of ' + distribution.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{distribution.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{distribution.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(distribution.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{distribution.code}}</td>
              </tr>
              <tr *ngIf="distribution.sale">
                <th>Sale</th>
                <td>{{distribution.sale.name}}</td>
              </tr>
              <tr *ngIf="distribution.vehicle">
                <th>Vehicle</th>
                <td>{{distribution.vehicle.name}}</td>
              </tr>
              <tr *ngIf="distribution.distributionstatus">
                <th>distributionstatus</th>
                <td>{{distribution.distributionstatus.name}}</td>
              </tr>
              <tr>
                <th>Contact person name</th>
                <td>{{distribution.contactpersonname}}</td>
              </tr>
              <tr *ngIf="distribution.contactpersonnic">
                <th>Contact person nic</th>
                <td>{{distribution.contactpersonnic}}</td>
              </tr>
              <tr>
                <th>Mobile Number</th>
                <td>{{distribution.contactpersontel}}</td>
              </tr>
              <tr *ngIf="distribution.date">
                <th>Date</th>
                <td>{{distribution.date | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="distribution.fee">
                <th>Fee</th>
                <td>{{distribution.fee | currency: 'Rs.'}}</td>
              </tr>
              <tr *ngIf="distribution.description">
                <th>Description</th>
                <td [innerHTML]="distribution.description | nl2br"></td>
              </tr>
              <tr>
                <th>Employees</th>
                <td><span class="mat-body badge badge-secondary d-inline-block mr-2 mb-2 font-weight-light py-1 px-3" *ngFor="let employee of distribution.employeeList">{{employee.code}}</span></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/distributions/edit/{{distribution.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/distributions/add" mat-stroked-button><mat-icon>add</mat-icon> New Distribution</button>
    <button *ngIf="privilege.showAll" routerLink="/distributions" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Distributions</button>
  </div>
</div>
