<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a supplierpayment"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !supplierpayment" message="Supplierpayment Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="supplierpayment && privilege.showOne">
  <app-page-header
    title="Supplierpayment Detail Page of {{ supplierpayment.code }}"
    [breadcrumbSegments]="['Supplierpayments', 'Show All Supplierpayments', 'Details of ' + supplierpayment.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{supplierpayment.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{supplierpayment.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(supplierpayment.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{supplierpayment.code}}</td>
              </tr>
              <tr *ngIf="supplierpayment.date">
                <th>Date</th>
                <td>{{supplierpayment.date | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="supplierpayment.amount">
                <th>Amount</th>
                <td>{{supplierpayment.amount | currency: 'Rs.'}}</td>
              </tr>
              <tr *ngIf="supplierpayment.chequeno">
                <th>chequeno</th>
                <td>{{supplierpayment.chequeno}}</td>
              </tr>
              <tr *ngIf="supplierpayment.chequebank">
                <th>chequebank</th>
                <td>{{supplierpayment.chequebank}}</td>
              </tr>
              <tr *ngIf="supplierpayment.chequebranch">
                <th>branch</th>
                <td>{{supplierpayment.chequebranch}}</td>
              </tr>
              <tr *ngIf="supplierpayment.chequedate">
                <th>Date</th>
                <td>{{supplierpayment.chequedate | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="supplierpayment.paymenttype">
                <th>Payment Type</th>
                <td>{{supplierpayment.paymenttype.name}}</td>
              </tr>
              <tr *ngIf="supplierpayment.paymentstatus">
                <th>Payment Status</th>
                <td>{{supplierpayment.paymentstatus.name}}</td>
              </tr>
              <tr *ngIf="supplierpayment.collection">
                <th>Collection</th>
                <td>{{supplierpayment.collection.name}}</td>
              </tr>
              <tr *ngIf="supplierpayment.description">
                <th>Description</th>
                <td [innerHTML]="supplierpayment.description | nl2br"></td>
              </tr>
                  <tr>
                    <td colspan="2">
                      <table class="w-100 custom-data-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let deduction of supplierpayment.deductionList">
                            <td>{{deduction.name}}</td>
                            <td>{{deduction.amount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/supplierpayments/edit/{{supplierpayment.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/supplierpayments/add" mat-stroked-button><mat-icon>add</mat-icon> New Supplierpayment</button>
    <button *ngIf="privilege.showAll" routerLink="/supplierpayments" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Supplierpayments</button>
  </div>
</div>
