<app-no-privilege message="No privilege to add new sale" *ngIf="!privilege.add"></app-no-privilege>
<div *ngIf="privilege.add">
  <app-page-header title="Sale Form" [breadcrumbSegments]="['Sales', 'Add New Sale']"></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Total</mat-label>
                <input type="number" matInput formControlName="total" >
                <mat-hint>Ex: </mat-hint>
                <mat-error *ngIf="totalField.invalid">
                  <span *ngIf="totalField.errors.server">{{totalField.errors.server.join(', ')}}</span>
                  <span *ngIf="totalField.errors.min">Total should be equal or greater than 0</span>
                  <span *ngIf="totalField.errors.max">Total should be equal or less than 99999999</span>
                  <span *ngIf="totalField.errors.pattern">Total is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Discount</mat-label>
                <input type="number" matInput formControlName="discount" >
                <mat-hint>Ex: </mat-hint>
                <mat-error *ngIf="discountField.invalid">
                  <span *ngIf="discountField.errors.server">{{discountField.errors.server.join(', ')}}</span>
                  <span *ngIf="discountField.errors.min">Discount should be equal or greater than 0</span>
                  <span *ngIf="discountField.errors.max">Discount should be equal or less than 99999999</span>
                  <span *ngIf="discountField.errors.pattern">Discount is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Customer</mat-label>
                <mat-select formControlName="customer" >
                  <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="customerField.invalid">
                  <span *ngIf="customerField.errors.server">{{customerField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sale Status</mat-label>
                <mat-select formControlName="salestatus" >
                  <mat-option *ngFor="let salestatus of salestatuses" [value]="salestatus.id">{{salestatus.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="salestatusField.invalid">
                  <span *ngIf="salestatusField.errors.server">{{salestatusField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex: </mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Sale Inventory</h3>
          <app-saleinventory-sub-form [min]="0" [max]="0" formControlName="saleinventories"></app-saleinventory-sub-form>
          <div class="error-box" *ngIf="saleinventoriesField.invalid && !saleinventoriesField.pristine">
            <p *ngIf="saleinventoriesField.errors.min">Should has at least 0 sale inventory</p>
            <p *ngIf="saleinventoriesField.errors.max">Maximum allowed only 0 Sale Inventory</p>
                <span *ngIf="saleinventoriesField.errors.server">{{saleinventoriesField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/sales" class="ml-0" mat-flat-button color="primary"><mat-icon>list</mat-icon> All Sales</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="reset"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
      <mat-card-actions align="right">
        <span class="text-warning">*</span> Required Fields
      </mat-card-actions>
    </mat-card>
  </form>
</div>
