<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a collection"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !collection" message="Collection Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="collection && privilege.showOne">
  <app-page-header
    title="Collection Detail Page of {{ collection.code }}"
    [breadcrumbSegments]="['Collections', 'Show All Collections', 'Details of ' + collection.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{collection.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{collection.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(collection.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{collection.code}}</td>
              </tr>
              <tr *ngIf="collection.date">
                <th>Date</th>
                <td>{{collection.date | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="collection.weight">
                <th>Weight</th>
                <td>{{collection.weight | currency: 'Rs.'}}</td>
              </tr>
              <tr *ngIf="collection.unitprice">
                <th>Unit Price</th>
                <td>{{collection.unitprice | currency: 'Rs.'}}</td>
              </tr>
              <tr *ngIf="collection.supplier">
                <th>Supplier</th>
                <td>{{collection.supplier.name}}</td>
              </tr>
              <tr *ngIf="collection.material">
                <th>Material</th>
                <td>{{collection.material.name}}</td>
              </tr>
              <tr *ngIf="collection.collectionstatus">
                <th>Collection Status</th>
                <td>{{collection.collectionstatus.name}}</td>
              </tr>
              <tr *ngIf="collection.description">
                <th>Description</th>
                <td [innerHTML]="collection.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/collections/edit/{{collection.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/collections/add" mat-stroked-button><mat-icon>add</mat-icon> New Collection</button>
    <button *ngIf="privilege.showAll" routerLink="/collections" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Collections</button>
  </div>
</div>
