<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a inventory"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !inventory" message="Inventory Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="inventory && privilege.showOne">
  <app-page-header
    title="Inventory Detail Page of {{ inventory.code }}"
    [breadcrumbSegments]="['Inventories', 'Show All Inventories', 'Details of ' + inventory.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{inventory.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{inventory.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(inventory.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{inventory.code}}</td>
              </tr>
              <tr *ngIf="inventory.qty">
                <th>Qty</th>
                <td>{{inventory.qty}}</td>
              </tr>
              <tr *ngIf="inventory.initqty">
                <th>Init Qty</th>
                <td>{{inventory.initqty}}</td>
              </tr>
              <tr *ngIf="inventory.domanufactured">
                <th>Manufactured Date</th>
                <td>{{inventory.domanufactured | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="inventory.doexpire">
                <th>Expired Date</th>
                <td>{{inventory.doexpire | date: 'fullDate'}}</td>
              </tr>
              <tr *ngIf="inventory.porder">
                <th>Product Order</th>
                <td>{{inventory.porder.name}}</td>
              </tr>
              <tr *ngIf="inventory.product">
                <th>Product </th>
                <td>{{inventory.product.name}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/inventories/edit/{{inventory.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/inventories/add" mat-stroked-button><mat-icon>add</mat-icon> New Inventory</button>
    <button *ngIf="privilege.showAll" routerLink="/inventories" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Inventories</button>
  </div>
</div>
